html {
  box-sizing: border-box;
  font-size: 16px;
  --grey: #f3f3f3;
  --dark-grey: #ebebeb;
  --x-dark-grey: rgb(71, 71, 71);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* for debugging */
* {
  /* outline: 1px solid grey; */
}

/* LAYOUT */
.grid {
  display: grid;
}
.outer-container {
  min-height: 100vh;
  min-width: 60rem;
  grid-template: 5rem 1fr / 1fr;
}

/* NAV */

.nav {
  grid-area: 1 / 1 / 2 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  background-color: var(--grey);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.39);
  z-index: 5;
}
.sidebar-activate {
  align-self: center;
  padding-left: 1rem;
}
.header {
  text-align: center;
  align-self: center;
}
.nav-options {
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 1rem;
}
.nav-options li {
  text-align: center;
  cursor: pointer;
  position: relative;
}
.nav-options li:hover {
  background-color: var(--dark-grey);
}
.nav-options li p {
  margin-top: 2rem;
}
.drop-down {
  background-color: var(--x-dark-grey);
  font-size: 0.8rem;
  color: white;
  position: absolute;
  top: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 200ms ease-in-out;
  left: 0;
  right: 0;
  margin: 0 0.1rem;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: start;
  overflow: hidden;
  z-index: 4;
}
.drop-down.active {
  transform: scaleY(1);
}
.drop-down li {
  padding: 0.2rem;
  border-bottom: 1px solid var(--dark-grey);
}
.drop-down li:hover {
  background-color: rgb(114, 114, 114);
}
.drop-down a {
  color: white;
}
/* SIDEBAR */

.sidebar {
  grid-template-rows: 5rem 1fr;
  gap: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--dark-grey);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 0rem;
  transition: width 200ms ease-in-out 0s;
}
.sidebar.active {
  width: 15rem;
}

.sidebar-header {
  padding: 1rem;
  grid-template-columns: 1fr 3rem;
  align-items: center;
}
.sidebar-options {
  padding: 0 1.5rem;
  font-size: 1.2rem;
}
.sidebar-options > li {
  margin-bottom: 1rem;
}
.sidebar-options > li:hover {
  background-color: rgb(211, 211, 211);
}

/* CONTENT */

.content {
  background-color: white;
  z-index: 1;
}
